{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{% static 'vuelos/css/font-awesome.min.css' %}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{% static 'vuelos/css/bootstrap.min.css' %}">
      <!--animate css-->
      <link rel="stylesheet" href="{% static 'vuelos/css/animate-wow.css' %}">
      <!--main css-->
      <link rel="stylesheet" href="{% static 'vuelos/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'vuelos/css/bootstrap-select.min.css' %}">
      <link rel="stylesheet" href="{% static 'vuelos/css/slick.min.css' %}">
      <!--responsive css-->
      <link rel="stylesheet" href="{% static 'vuelos/css/responsive.css' %}">
   </head>
   <body>

      <header id="header" class="top-head">
         <!-- Static navbar -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-12 left-rs">
                     <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                        <a href="index.html" class="navbar-brand"><img src="{% static 'images/logo .png' %}" alt="Tuluayork" /></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-12">
                     <div class="right-nav">
                        <div class="login-sr">
                           <div class="login-signup">
                              <ul>
				{% block nav %}
				{% endblock %}
			      </ul>
                           </div>
                        </div>
                        
                      </div>
                  </div>
               </div>
            </div>
         </nav>
      </header>
     
      <!-- desde aqui esto es lo que cambia en todos los urls-->
      {% block content %}
      {% endblock %}
      <footer>
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-top clearfix">
                     <div class="col-md-2 col-sm-6">
                        <h2>Atención al cliente
                        </h2>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="form-box">
                           <input type="text" placeholder="Ingrese su correo electrónico" />
                           <button>Solicitar ayuda</button>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                        <div class="help-box-f">
                           <h4>Línea de atención: 3153333333</h4>
                           <p>Con gusto uno de nuestros asesores lo atenderá</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <p><img width="90" src="{% static 'images/logo .png' %}" alt="Tuluayork" style="margin-top: -5px;" /> Todos los derechos reservados © 2021</p>
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline socials">
                        <li>
                           <a href="">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!--main js--> 
      <script src="{% static 'vuelos/js/jquery-1.12.4.min.js' %}"></script> 
      <!--bootstrap js--> 
      <script src="{% static 'vuelos/js/bootstrap.min.js' %}"></script> 
      <script src="{% static 'vuelos/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'vuelos/js/slick.min.js' %}"></script> 
      <script src="{% static 'vuelos/js/wow.min.js' %}"></script>
      <!--custom js--> 
      <script src="{% static 'vuelos/js/custom.js' %}"></script>
  </body>
</html>
