{% extends 'vuelos/base.html' %} {% load static %} {% block content %}
<title>Usuairos - administracion</title>
<br />
<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-12">
      <div class="card">
        
        <label class="form-check-label">Ciudad: <p>{{ciudad}}</p> </label><br>
        <label class="form-check-label">Descripción: <p>{{descripcion}}</p> </label><br>
        <label class="form-check-label">Temperatura actual: <p>{{tempertura}} °C </p></label><br>
        <label class="form-check-label">Temperatura máxima: <p>{{tempertura_max}} °C </p></label><br>
        <label class="form-check-label">Temperatura mínima: <p>{{tempertura_min}} °C </p></label><br>
        <label class="form-check-label">Presión: <p>{{presion}}  hPa </p></label><br>
        <label class="form-check-label">Humedad: <p>{{humedad}} g/m3</p></label><br>
        <label class="form-check-label">Velocidad del viento: <p>{{viento_velocidad}}  m/s </p></label><br>
        <label class="form-check-label">Orientación del viento: <p>{{viento_deg}} ° </p></label><br>
        
        
        
        
        
        
        
        
      
      </div>
    </div>
  </div>
</div>
<br />

<script>
{
    "coord":
    {
        "lon":-76.2978,
        "lat":3.9009
    },
    "weather":
    [{
        "id":802,
        "main":"Clouds",
        "description":"nubes dispersas",
        "icon":"03n"
    }],
    "base":"stations",
    "main":
    {
        "temp":19.4,
        "feels_like":19.56,
        "temp_min":17.78,
        "temp_max":21,
        "pressure":1013,
        "humidity":83
    },
    "visibility":10000,
    "wind":
    {
        "speed":2.06,
        "deg":60
    },
    "clouds":
    {
        "all":40
    },
    "dt":1618200181,
    "sys":
    {
        "type":1,
        "id":8590,
        "country":"CO",
        "sunrise":1618138814,
        "sunset":1618182697
    },
    "timezone":-18000,
    "id":0,
    "name":"Guadalajara De Buga",
    "cod":200
}
</script>

{% endblock %}
