
{% extends 'vuelos/base.html' %}

{% load static %}
{% block content %}

<title> Tuluayork </title>
      <div class="page-content-product">
         <div class="main-product">
            <div class="container">
               <div class="row clearfix">
                  <div class="find-box">
                     <h1>Encontrar el vuelo que se <br>ajusta a tus necesidades</h1>
                     <h4>nunca fue tan simple.</h4>
                        
                        <div class="product-sh">
                           <div class="form-sh">
                              <select class="selectpicker">
                                 <option>Seleccionar</option>
                                 <option>Bogotá</option>
                                 <option>Medellín</option>
                                 <option>Barranquilla</option>
                              </select>
                              <div class="form-sh">
                                    <a class="btn btn-bloc" href="#">Buscar</a>
                              </div>
                              
                           </div>
                        </div>
                  </div>
               </div>
               <br>
              {%for vuelo in vuelos%}
               <!-- <div class="row clearfix"> -->
                  <div class="col-lg-3 col-sm-6 col-md-3">
		    {%if admin%}
		    <a href="{% url 'vuelos:vuelo-admin' vuelo.id_vuelo %}">
		    {%else%}
		    <a href="{% url 'vuelos:vista-vuelo' vuelo.id_vuelo %}">
                    {% endif %}  
		      <div class="box-img">
			  <h4>{{vuelo.destino}}</h4>
                           <img src="{% static 'vuelos/images/product/avion.png' %}" alt="imagendelaciudad" />
			   <h5>{{vuelo.id_vuelo}}</h5>
			   <h5>{{vuelo.costo}}</h5>
			</div>
                     </a>
                  </div>
                  
               <!-- </div> -->
	       {% endfor %}
            </div>
         </div>
      </div>
      <!-- Hasta aquí -->

{% endblock %}
