
{% extends 'vuelos/base.html' %}

{% load static %}
<title> Tuluayork </title>
{% block nav %}
   <li><a href="login">Iniciar Sesión</a></li>
   <li><a class="custom-b" href="signup">Registrarse</a></li>
{% endblock %}
{% block content %}
      <div class="page-content-product">
         <div class="main-product">
            <div class="container">
               <div class="row clearfix">
                  <div class="find-box">
                     <h1>Encuentra el vuelo que se <br>ajuste a tus necesidades.</h1>
                     <h4>Nunca fue tan simple.</h4>
                     <div class="product-sh">
                        <div class="col-sm-6">
                           <div class="form-sh">
                              <input type="text" placeholder="Ingresa tu destino o eligelo ->" >
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-sh">
                              <select class="selectpicker">
                                 <option>Seleccionar</option>
                                 <option>Bogotá</option>
                                 <option>Medellín</option>
                                 <option>Barranquilla</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-sh"> <a class="btn" href="#">Buscar</a> </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <div class="row clearfix">
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="productpage.html">
                        <div class="box-img">
                           <h4>Bogotá</h4>
                           <img src="{% static 'vuelos/images/product/bogota.jpeg' %}" alt="imagendelaciudad" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="productpage.html">
                        <div class="box-img">
                           <h4>Cali</h4>
                           <img src="{% static 'vuelos/images/product/cali.jpg' %}" alt="imagendelaciudad" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="productpage.html">
                        <div class="box-img">
                           <h4>Medellín</h4>
                           <img src="{% static 'vuelos/images/product/medellin.jpg' %}" alt="imagendelaciudad" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="productpage.html">
                        <div class="box-img">
                           <h4>Barranquilla</h4>
                           <img src="{% static 'vuelos/images/product/bquilla.jpg' %}" alt="imagendelaciudad" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="productpage.html">
                        <div class="box-img">
                           <h4>San Andrés</h4>
                           <img src="{% static 'vuelos/images/product/sanandres.jpg' %}" alt="imagendelaciudad" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="productpage.html">
                        <div class="box-img">
                           <h4>Pasto</h4>
                           <img src="{% static 'vuelos/images/product/pasto.jpeg' %}" alt="imagendelaciudad" />
                        </div>
                     </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="productpage.html">
                        <div class="box-img">
                           <h4>Neiva</h4>
                           <img src="{% static 'vuelos/images/product/neiva.jpg' %}" alt="imagendelaciudad" />
                        </div>
                     </a>
                  </div>
                  
                  
               </div>
            </div>
         </div>
      </div>
      <!-- Hasta aquí -->
      

{% endblock %}
