
{% extends 'vuelos/base.html' %}

{% load static %}
{% block content %}

<title> Tuluayork </title>
      <div class="page-content-product">
         <div class="main-product">
            <div class="container">
               <div class="row clearfix">
                  <div class="find-box">
                     <h1>Encontrar el vuelo que se <br>ajuste a tus necesidades</h1>
                     <h4>nunca fue tan simple.</h4>
                     <div class="product-sh">
                        <div class="col-sm-6">
                           <div class="form-sh">
                              <input type="text" placeholder="Ingresa tu destino o eligelo ->" >
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-sh">
                              <select class="selectpicker">
                                 <option>Seleccionar</option>
                                 <option>Bogotá</option>
                                 <option>Medellín</option>
                                 <option>Barranquilla</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-sh"> <a class="btn" href="#">Buscar</a> </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
              {%for vuelo in vuelos%}
               <!-- <div class="row clearfix"> -->
                  <div class="col-lg-3 col-sm-6 col-md-3">
		    <a href="{% url 'vuelos:vista-vuelo' vuelo.id_vuelo %}">
                        <div class="box-img">
			  <h4>{{vuelo.destino}}</h4>
                           <img src="{% static 'vuelos/images/product/avion.png' %}" alt="imagendelaciudad" />
			   <h5>{{vuelo.id_vuelo}}</h5>
			   <h5>{{vuelo.costo}}</h5>
			</div>
                     </a>
                  </div>
                  
               <!-- </div> -->
	       {% endfor %}
            </div>
         </div>
      </div>
      <!-- Hasta aquí -->

{% endblock %}
