{% extends 'vuelos/base.html' %}

{% load static %}
<title> Mi perfil </title>
{% block nav %}
   <li><a href="login">Iniciar Sesión</a></li>
   <li><a class="custom-b" href="signup">Registrarse</a></li>
{% endblock %}
{% block content %}
      <div class="profile-box banner-p">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="profile-b">
                     <img src="{% static 'vuelos/images/lag-63.png' %}" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-profile-box">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4 pr">
                  <div class="profile-pro-left">
                     <div class="left-profile-box-m">
                        <div class="pro-img">
                           <img src="{% static 'vuelos/images/150x150.png' %}" alt="#" />
                        </div>
                        <div class="pof-text">
                           <h3>Nombre completo</h3>
                           <div class="check-box"></div>
                        </div>
                        <span>Nombre de usuario</span>
                     </div>
                  </div>
               </div>
               <div class="col-md-10 col-sm-8">
                  <div class="profile-pro-right">
                     <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading clearfix">
                           <ul class="nav nav-tabs pull-left">
                              <li class="active"><a href="#tab1default" data-toggle="tab">Reservas <span>2</span></a></li>
                           </ul>
                           
                        </div>
                        <div class="panel-body">
                           <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default">
                                 <div class="product-box-main row">
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="{% static 'vuelos/images/product/bogota.jpeg' %}" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Bogotá</h4>
                                                <p>Abril 8 </p>
                                             </div>
                                             <a href="#" tabindex="0">$50000</a>
                                          </div>
                                          <div class="prod-btn">
                                             <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Cancelar</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="{% static 'vuelos/images/product/cali.jpg' %}" alt="cali" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Cali</h4>
                                                <p>Abril 15</p>
                                             </div>
                                             <a href="#" tabindex="0">$20000</a>
                                          </div>
                                          <div class="prod-btn">
                                             <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Cancelar</a>
                                          </div>
                                       </div>
                                    </div>
                                    
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {% endblock %}