{% extends 'vuelos/base.html' %}
{% block content %}
<title>Registrar Ciudad</title>
<br>

<div class="container mt-5 mb-5" >
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6" >
        <div class="card px-5 py-5">
          <div class='text-left'>
            <br>
            <h1> Registrar Ciudad</h1>
            <br>
            <form enctype="multipart/form-data" method='POST'><br>

              {% csrf_token %}
              <label for="id_postal" class="form-check-label">Codigo postal:</label>
              <input type="number" name="postal" required="" id="id_postal" class="form-control">
              <br>

              <label for="id_nombre" class="form-check-label">Nombre de la ciudad:</label>
              <input type="text" name="nombre" maxlength="30" required="" id="id_nombre" class="form-control">
              <br>
              <label for="id_foto" class="form-check-label">Foto de la ciudad:</label>
              <input type="file" name="foto" accept="image/*" required="" id="id_foto">
              <br>



              
              <br>
              <button type='submit' class='btn-success btn btn-primary mr-4 signup'>Registrar</button>
            </form>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>






{% endblock %}
