{% extends 'vuelos/base.html' %}

<title>Registrar escala</title>
{% block content %}


<br>

<div class="container mt-5 mb-5" >
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6" >
        <div class="card px-5 py-5">
          <div class='text-left'>
            <br>
            <h1> Registro de escalas para el vuelo {{id}}</h1>
            <br>
            <form method='POST'>
              {% csrf_token %}<br>
              <p>
                <label for="id_procedencia" class="form-check-label"> Ciudad de procedencia:</label> 
		{{form.procedencia}}
	      </p>
              <br>
              
              <br>
              <p><label for="fecha_salida" class="form-check-label">Fecha de escala:</label> 
               
                <select id='fecha_salida' name='fecha_salida' class="form-check-label">
                  {%for dia in dias%}
                  <option value={{dia}}>{{dia}}</option>
                  {%endfor%}
                </select>

              </p>
              <br>
                        
              <button type='submit' class='btn-success btn btn-primary mr-4 signup'>Registrar</button>
            </form>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock %}
