{% extends 'vuelos/base.html' %}

{% load static %}
{% block nav %}
   <li><a href="login">Iniciar Sesión</a></li>
   <li><a class="custom-b" href="signup">Registrarse</a></li>
{% endblock %}
{% block content %}
<title> Iniciar Sesion </title>
<br>
<div class="container mt-5 mb-5" >
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6" >
        <div class="card px-5 py-5">
          <div class="form-input"><br>
            <h1> ¡Regístrate!</h1>
            <br>
            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                {{form.as_div}}
              </div>

              <!--
              <label for="id_cc">Identificacion:</label><input type="number" name="cc" required="" id="id_cc">
              <br>
              <label for="id_username" class="form-check-label">Username:</label>
              <input type="text" name="username" maxlength="20" required="" id="id_username" class="form-control">
              <br>
              <label for="id_email" class="form-check-label">Email:</label>
              <input type="email" name="email" maxlength="30" required="" id="id_email" class="form-control">
              <br>
              <label for="id_password1" class="form-check-label">Contraseña:</label>
              <input type="password" name="password1" required="" id="id_password1" class="form-control">
              <br>
              <label for="id_password2">Confirmar Contraseña:</label><input type="password" name="password2" required="" id="id_password2">
              -->
              <br>
              <button class="btn-success btn btn-primary mr-4 signup" type="submit"> Registrarse </button>
            </form>
            {% if error != None %}
	          <br>
            <h1>{{error}}</h1>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
