{% extends 'vuelos/base.html' %}

{% load static %}
<title> Iniciar Sesion </title>
{% block nav %}
   <li><a href="#">Iniciar Sesión</a></li>
   <li><a class="custom-b" href="#">Registrarse</a></li>
{% endblock %}
{% block content %}
<br>
<div class="container mt-5 mb-5" >
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6" >
        <div class="card px-5 py-5">
          <div class="form-input">
            <form method="post">
              {% csrf_token %}
              <!--{{form}}-->
              <label for="id_cc">Identificacion:</label><input type="number" name="cc" required="" id="id_cc">
              <br>
              <label for="id_username">Username:</label><input type="text" name="username" maxlength="20" required="" id="id_username">
              <br>
              <label for="id_email">Email:</label><input type="email" name="email" maxlength="30" required="" id="id_email">
              <br>
              <label for="id_password1">Contraseña:</label><input type="password" name="password1" required="" id="id_password1">
              <br>
              <label for="id_password2">Confirmar Contraseña:</label><input type="password" name="password2" required="" id="id_password2">
              <br>
              <button class="btn btn-primary mr-4 signup" type="submit">Iniciar Sesión</button>
            </form>
            {% if error != None %}
            <br>
            <h1>{{error}}</h1>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
